:root {
  --light-color: #D6E3DD;
  --secondary-color: #9BC4B1;
  --tertiary-color: #608F79;
  --accent-color: #BF0D60;
  --light-accent-color: #EB88B6;
  --white: #FFFFFF;
  --black: #141204;
  --text-color: #333333;
  --primary-color: #FFFEF1;
  --light-pink: #F2CFDF;
  --alt-color: #D25690;
}

* {
  font-family: Lato;
  font-style: normal;
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

.fa.fa-lg {
  color: transparent;
  font-size: 30px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--secondary-color);
}

.fa.fa-lg:hover {
  color: var(--secondary-color);
}

.button__to__link {
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.button__to__link:focus, .button__to__link:active {
  outline: none;
}

.card__link {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: var(--accent-color);
}

.nav__aside {
  position: fixed;
  height: 100vh;
  width: 17.0%;
  background: var(--white);
  display: inline-block;
  padding-top: 80px;
  vertical-align: top;
}

.main__container {
  width: 82.51%;
  background: var(--primary-color);
  vertical-align: top;
  position: absolute;
  left: 17.0%;
}

.fixed-contact__link {
  position: fixed;
  right: 9%;
  top: 60px;
}

.social__aside {
  background: var(--primary-color);
  width: 10%;
  display: inline-block;
  margin-top: 35vh;
  vertical-align: top;
  top: 0;
}

.main__header {
  height: 100px;
  width: 100vw;
  background: var(--white);
  position: fixed;
  top: 0;
  z-index: 9;
}

.main__header>div:first-child {
  position: fixed;
  top: 40px;
  width: 17.0%;
  z-index: 999;
}

.main__header p {
  margin-top: 0px;
  margin-left: 21.6%;
  font-weight: bold;
  font-size: 16px;
}

.sidenav {
  margin-left: 21.6%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

.nav__collapse {
  margin-top: 190px;
  border-left: 1px solid var(--secondary-color);
}

.nav__collapse>li {
  height: 80px;
  vertical-align: middle;
  line-height: 5;
  font-weight: bold;
  font-size: 16px;
  color: var(--black);
}

.sidenav a {
  text-decoration: none;
  padding-left: 20px;
  height: 100%;
  display: block;
  margin-left: -1px;
}

.sidenav a.active {
  color: var(--accent-color);
  border-left: 2px solid var(--accent-color);
}

section#about {
  padding-right: 0px;
  width: 79.36%;
  border-right: none;
  padding-bottom: 0px;
}

section#about>.section__aside {
  margin-top: 0px;
}

section#about>article {
  border-right: 1px solid var(--secondary-color);
  padding-right: 22.36%;
  padding-bottom: 80px;
  padding-top: 40px;
  margin-right: -1px;
}

section#about>article>.contact__link {
  margin-bottom: 0px;
}

section#about>header {
  margin-top: 160px;
}

section#about>header>h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

section#end {
  margin-top: 40px;
  border: 1px solid transparent;
}

section#end p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--tertiary-color);
}

.main__container>section {
  display: inline-block;
  padding-left: 10.29%;
  padding-right: 22.36%;
  border-right: 1px solid var(--secondary-color);
  width: 57%;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--secondary-color);
}

.main__container>section:first-child {
  margin-top: 93px;
}

.main__container>section:first-child>header>h1 {
  margin-top: 0px;
}

.main__container>section>header>h1 {
  font-weight: 900;
  font-size: 76px;
  color: var(--tertiary-color);
  margin-top: 160px;
  margin-bottom: 40px;
}

article>h1 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

article>* {
  margin-bottom: 40px;
  line-height: 26px;
}

.contact__link {
  text-decoration: none;
  width: 160px;
  height: 50px;
  background: #BF0D60;
  color: var(--white);
  display: block;
  text-align: center;
  line-height: 3;
}

.section__aside {
  position: absolute;
  right: 10%;
  margin-top: -4%;
  writing-mode: vertical-lr;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  transform: rotate(-180deg);
  vertical-align: top;
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

.section__aside>span {
  color: var(--secondary-color);
}

.nav__mobile__aside {
  display: none;
}

.mobile__social__aside {
  display: none;
}

.social__aside {
  position: fixed;
}

.social__aside>nav>ul {
  margin-left: 40%;
  margin-right: 60%;
}

.social__aside>nav>ul>li {
  margin-bottom: 42px;
}

.contact__container {
  width: 90%;
  position: fixed;
  top: 25px;
  right: 9%;
  z-index: 99;
}

.contact__container>.contact__link {
  float: right;
}

.nav__toggle {
  visibility: hidden;
  position: fixed;
  right: 15px;
  top: 14px;
  width: 33px;
  height: 33px;
  border: none;
  background: none;
}

.nav__toggle__collapse {
  visibility: hidden;
  position: fixed;
  right: 15px;
  top: 14px;
  width: 33px;
  height: 33px;
  border: none;
  background: none;
}

.nav__toggle:focus, .nav__toggle:active {
  outline: none;
}

.nav__toggle__collapse:focus, .nav__toggle__collapse:active {
  outline: none;
}

.breadcrumb {
  display: block;
  content: url(./breadcrumb.svg);
}

.cancel {
  display: block;
  content: url(./cancel.svg);
}

.experience__list {
  list-style-type: none;
  padding: 0px;
  border-left: 1px solid var(--light-pink);
}

.experience__list li {
  margin-bottom: 40px;
  padding-left: 30px;
}

.experience__list p {
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.company__header {
  margin-bottom: 20px;
}

.company__header>h3 {
  line-height: 19px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 0px;
}

.company__header>h3 a {
  font-weight: bold;
  font-size: 16px;
  color: var(--tertiary-color);
  text-decoration: none;
}

.company__header>small {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--tertiary-color);
  float: right;
  margin-top: 10px;
}

.experience__title::before {
  width: 20px;
  display: inline-block;
  content: " ";
  position: absolute;
  margin-left: -42px;
  height: 20px;
  border: 1px solid var(--light-pink);
  border-radius: 50%;
  background: var(--primary-color);
}

.circle__filler {
  width: 40px;
  height: 40px;
  margin-top: -18px;
  margin-bottom: -18px;
  display: inline-block;
  margin-left: -44px;
  background: var(--primary-color);
}

.hidden {
  display: none;
}

.portfolio__content {
  width: 40%;
  display: inline-block;
  margin-right: 5%;
  vertical-align: top;
}

.portfolio__content>strong {
  color: var(--black);
}

.portfolio__content>p {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: var(--text-color);
}

.portfolio__content a {
  color: var(--accent-color);
}

@media (max-width: 600px) {
  .contact__container, .section__aside, .main__header {
    display: none;
  }
  section#about {
    margin-top: 55px;
    width: 92vw;
    padding-right: 4vw;
  }
  section#about>header {
    margin-top: 0px;
  }
  section#about>article {
    border-right: none;
    padding-right: 0px;
  }
  .social__aside {
    bottom: 0;
    top: revert;
    left: 0;
    height: 8vh;
    width: 100vw;
    padding-top: 0px;
    margin-top: 0px;
    display: block;
    background: var(--white);
  }
  .social__aside>nav>ul {
    width: 100vw;
    margin-left: 10%;
    margin-right: 10%;
    margin: auto;
    line-height: 3.5;
    text-align: center;
  }
  .social__aside>nav>ul>li {
    display: inline-block;
    width: 30px;
    margin-bottom: 0px;
  }
  .social__aside>nav>ul>li:not(:last-child) {
    margin-right: 20px;
  }
  .main__container {
    width: 100%;
    padding-top: 0px;
    left: 0%;
    margin-top: 50px;
  }
  .main__container>section {
    border-right: none;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 60px;
    width: 92vw;
  }
  .main__container>section:first-child {
    margin-top: 40px;
  }
  .main__container>section>header>h1 {
    font-size: 34px;
    margin-top: 60px;
  }
  article>* {
    margin-bottom: 15px;
  }
  .nav__header {
    position: fixed;
    left: 15px;
    top: 6px;
    font-weight: bold;
    font-size: 16px;
  }
  .nav__header__container {
    background: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
  }
  .nav__mobile__aside {
    position: fixed;
    display: block;
    background: var(--white);
    top: 0;
    left: 0;
    height: 8vh;
    width: 100vw;
  }
  .nav__toggle {
    visibility: visible;
  }
  .nav__toggle, .nav__toggle__collapse {
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .nav__toggle>.breadcrumb, .nav__toggle__collapse>.cancel {
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0s;
  }
  .sidenav__mobile {
    margin-top: 0px;
    border-left: none;
    width: 100vw;
    height: 93vh;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: all 1.5s ease-out;
  }
  .sidenav__mobile.menu-opened {
    background: var(--tertiary-color);
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.25s;
  }
  .sidenav__mobile.menu-opened>.nav__collapse>li {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  .sidenav__mobile.menu-opened>.nav__collapse>li:nth-child(1) {
    transition-delay: 0.27s;
  }
  .sidenav__mobile.menu-opened>.nav__collapse>li:nth-child(2) {
    transition-delay: 0.34s;
  }
  .sidenav__mobile.menu-opened>.nav__collapse>li:nth-child(3) {
    transition-delay: 0.41s;
  }
  .sidenav__mobile.menu-opened>.nav__collapse>li:nth-child(4) {
    transition-delay: 0.48s;
  }
  .sidenav__mobile.menu-opened>.nav__collapse>li:nth-child(5) {
    transition-delay: 0.55s;
  }
  .sidenav__mobile a.active {
    color: var(--white);
    border-left: none;
  }
  .nav__collapse {
    margin-top: 45px;
    border-left: none;
  }
  .nav__collapse>li {
    transform: scale(1.15) translateY(-30px);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .nav__collapse>li:nth-child(1) {
    transition-delay: 0.49s;
  }
  .nav__collapse>li:nth-child(2) {
    transition-delay: 0.42s;
  }
  .nav__collapse>li:nth-child(3) {
    transition-delay: 0.35s;
  }
  .nav__collapse>li:nth-child(4) {
    transition-delay: 0.28s;
  }
  .nav__collapse>li:nth-child(5) {
    transition-delay: 0.21s;
  }
  .nav__collapse a {
    color: var(--white);
    text-decoration: none;
  }
  .experience__list {
    border: none;
  }
  .circle__filler {
    display: none;
  }
  .experience__list li {
    padding-left: 0px;
  }
  .company__header>h3 {
    display: block;
  }
  .company__header>small {
    display: block;
    float: none;
    font-weight: normal;
  }
  .fa.fa-lg {
    -webkit-text-stroke-color: var(--light-accent-color);
  }
  .fa.fa-lg:hover {
    color: var(--light-accent-color);
  }
  .portfolio__content {
    width: 100%;
  }
}