<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{site.description}}" />

  <link rel="icon" href="/assets/favicon.ico" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css' />
  <link href="/assets/style.css" rel="stylesheet">

  <title>{{ site.title }}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZG5CM0K4GG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-ZG5CM0K4GG');
  </script>
</head>

<body>
  <header class="main__header">
    <div>
      <p><a href="/" style="text-decoration: none">Harrison Favour</a></p>
    </div>
    <div class="contact__container">
      <a class="contact__link" href="mailto:fayvorharrison101@gmail.com">Let's talk</a>
    </div>
  </header>
  <section class="coverall">
    <aside class="nav__aside">
      <nav class="sidenav">
        <ul class="nav__collapse">
          <li><a data-target="#about" href="/#about" class="active">About</a></li>
          <li><a data-target="#experience" href="/#experience">Experience</a></li>
          <li><a data-target="#skills" href="/#skills">Skills</a></li>
          <li><a data-target="#portfolio" href="/#portfolio">Portfolio</a></li>
          <li><a href="https://medium.com/@hyper_debugger">Blog</a></li>
        </ul>
      </nav>
    </aside>
    <main id="main-container" class="main__container">
      <aside class="nav__mobile__aside">
        <div class="nav__header__container">
          <p class="nav__header"><a href="/" style="text-decoration: none">Harrison Favour</a></p>
          <button id="open-nav" class="nav__toggle" aria-label="Open navigation" onclick="openMobileNav()">
            <span class="breadcrumb"></span>
          </button>
        </div>
        <nav id="nav-content" class="sidenav__mobile">
          <button id="close-nav" aria-label="Close navigation" class="nav__toggle__collapse" onclick="closeMobileNav()">
            <span class="cancel"></span>
          </button>
          <ul class="nav__collapse">
            <li onclick="closeMobileNav()"><a href="/#about" class="active">About</a></li>
            <li onclick="closeMobileNav()"><a href="/#experience">Experience</a></li>
            <li onclick="closeMobileNav()"><a href="/#skills">Skills</a></li>
            <li onclick="closeMobileNav()"><a href="/#portfolio">Portfolio</a></li>
            <li onclick="closeMobileNav()"><a href="https://medium.com/@hyper_debugger">Blog</a></li>
          </ul>
        </nav>
      </aside>
      {{ content }}

      <aside class="social__aside">
        <nav>
          <ul>
            <li>
              <a href="https://github.com/grantfayvor" aria-label="Github link">
                <span class="fa fa-github fa-lg"></span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/hyper_debugger" aria-label="Twitter link">
                <span class="fa fa-twitter fa-lg"></span>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/favour-harrison-5aa312a9/" aria-label="LinkedIn link">
                <span class="fa fa-linkedin fa-lg"></span>
              </a>
            </li>
            <li>
              <a href="https://medium.com/@hyper_debugger" aria-label="Medium link">
                <span class="fa fa-medium fa-lg"></span>
              </a>
            </li>
            <li>
              <a href="mailto:fayvorharrison101@gmail.com" aria-label="Email me">
                <span class="fa fa-envelope fa-lg"></span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </main>
  </section>

  <script src="/assets/vanillajs-scrollspy.min.js" type="text/javascript"></script>
  <script>
    window.onload = function () {
      var sidenav = document.querySelector(".sidenav");
      new VanillaScrollspy(sidenav, 2000, "easeInOutQuint").init();
    };

    function openMobileNav() {
      const nav = document.getElementById("nav-content");
      nav.style.visibility = "visible";
      nav.classList.add("menu-opened");
      const oNavButton = document.getElementById("open-nav");
      oNavButton.style.visibility = "hidden";
      const cNavButton = document.getElementById("close-nav");
      cNavButton.style.visibility = "visible";
    }

    function closeMobileNav() {
      const nav = document.getElementById("nav-content");
      nav.style.visibility = "hidden";
      nav.classList.remove("menu-opened");
      const cNavButton = document.getElementById("close-nav");
      cNavButton.style.visibility = "hidden";
      const oNavButton = document.getElementById("open-nav");
      oNavButton.style.visibility = "visible";
    }
  </script>
</body>

</html>